CoinGecko_top10_coins_workflow.json
{
  "name": "CoinGecko - Coin Prices",
  "nodes": [
    {
      "parameters": {
        "content": "## Filtering & Rounding\n\n**Filters**\n- Only the following fields are included and renamed for readability: `Name`, `Symbol`, `Price (GBP)`, `Market Cap (GBP)`, `Price Change (%)`.\n- Fields can be adjusted depending on your use case.\n\n\n**Rounding**\n- Price and Price Change are rounded to 2 decimal places.\n- Market Cap is rounded to the nearest GBP billion to improve readability.\n\n\n**Note**\nThe 'Retrieved' column timestamps the data for better future comparability. \n",
        "height": 496,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -528
      ],
      "id": "14caa9d8-a221-4ace-a7fd-4cf8b0c7029d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Top 10 Coins Workflow\n\n**Overview**\nThis workflow pulls live market data from CoinGecko for the top 10 cryptocurrencies by market cap, transforms and rounds the data, adds a timestamp, and exports it to an XLSX file (can be adjusted). It can run on a schedule (currently hourly).\n\n**Setup**\n1. Create a free CoinGecko account and generate an API key (the workflow should run without a key, but having a key ensures more reliable, stable data).\n2. Add your API key in the HTTP Request (CoinGecko API) node under 'Header Parameters':\n\nName: 'x-cg-demo-api-key'\nValue: **your API key**\n\n3. (Optional) Adjust the API URL in the HTTP Request (CoinGecko API) node to change: \n\n **Currency**: 'currency=gbp' (or 'usd')\n **Numner of Coins**: 'per_page=10' (or '100')\n",
        "height": 496,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -528
      ],
      "id": "cb2f8bd6-bcf0-48b1-a00a-4d08ad354aa4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "489788be-cca3-4106-b4d4-7604aed62475",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=gbp&order=market_cap_desc&per_page=10&page=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cg-demo-api-key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        0
      ],
      "id": "7457369d-b287-483e-b149-c98ec5368b5d",
      "name": "CoinGecko API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "017f3a25-ba29-4699-9e1e-320226a711d4",
              "name": "Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a3f6af86-f23c-42a0-87fd-e5abee590869",
              "name": "Symbol",
              "value": "={{ $json.symbol }}",
              "type": "string"
            },
            {
              "id": "8cbaaee0-5fb1-40ff-9afa-3fc9374c8453",
              "name": "Price (GBP)",
              "value": "={{ Math.round($json.current_price *100)/100 }}",
              "type": "number"
            },
            {
              "id": "037efc96-8b39-4255-8a5f-50b3a36267be",
              "name": "Market Cap (GBP)",
              "value": "={{ Math.round($json.market_cap  / 100000000) *1000000000}}",
              "type": "number"
            },
            {
              "id": "82e9b169-20ec-4db0-995a-3ae006c1ae6b",
              "name": "24h Price Change (%)",
              "value": "={{ Math.round($json.price_change_percentage_24h *100)/100 }}",
              "type": "number"
            },
            {
              "id": "8a2e8f32-3456-41fe-b967-5c8688846a07",
              "name": "Retrieved ",
              "value": "={{ $now.toFormat(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "b123f1a5-bdf0-48d0-ad17-6bc1dc91a8ac",
      "name": "Transform"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "=Top10_Coins_{{ $now.toFormat(\"yyyyMMdd_HH:mm\") }}.xlsx",
          "sheetName": "Top 10 Coins"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        688,
        0
      ],
      "id": "ccec48cf-aa2e-41f7-90a4-e042ce90377b",
      "name": "Download"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CoinGecko API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CoinGecko API": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed9d803c-f53f-4a68-b259-10e4058864e0",
  "meta": {
    "instanceId": "c8c7a857516bd465a353043de5e546c1846147ca3c650cc6a167b35bd87f8b16"
  },
  "id": "eRlC4xnXgvkKvMIt",
  "tags": []
}